input[type=text] {
  border:0px;
  border-bottom: 2px solid #263238;
  color: #263238;
}
select {
  border:0px;
  border-bottom: 2px solid #263238;
  color: #263238;
}
input[type=password] {
  border:0px;
  border-bottom: 2px solid #263238;
  color: #263238;
}
